.posters-wrapper {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  place-items: center;
  gap: 0px;
  background-color: black;
}

.poster {
  width: 150px;
  height: 225px;
  margin: 20px;
  transition: transform 300ms ease 100ms;
  flex: 0 0 19.7%;
}


.posters-wrapper:hover .poster {
  transform: translateX(-25%);
}

.poster:hover ~ .poster {
  transform: translateX(25%);
}

.poster:hover {
  transform: scale(1.2) !important;
}

.pointer-cursor {
  cursor: pointer;
}