header {
  color: #0485ef;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  height: 5vh;
  padding: 20px 20px 20px 20px;
}

.title {
  margin-left: 10px;
}

.home-btn {
  cursor: pointer;
  transition: .5s ease;
}

.home-btn:hover {
  transform: scale(1.2) !important;
}